fastapi
uvicorn
gunicorn
python-dotenv
openai
requests
streamlit
pymupdf
langchain
langchain-community
langchain-openai
python-multipart
langdetect
pytesseract
pdf2image
Pillow
deep-translator
spacy
keybert
pdfplumber
camelot-py
faiss-cpu
chromadb
celery
redis
